*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
.main-container{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD465;
}
.todo-content{
    width: 380px;
    padding: 2rem;
    background-color: #fff;
    border-radius: .6rem;
}
.todo-date__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 1rem;
}
/*========== Count Section ==========*/
.count-content{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.img-container{
    color:#f2c043;
    font-size: 2.5rem;
}
/*========== Search ==========*/
.todo-input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
/*========== Todo List ==========*/
.todo-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    list-style: none;
}
.check{
    cursor: pointer;
}
.todo-list__items{
    display: flex;
    align-items: center;
    position: relative;
}
.parrafo{
    margin: .5rem 1rem;
    font-size: 1rem;
}
.parrafo-completed{
    text-decoration: line-through;
}
.delete{
    position: absolute;
    font-size: 1rem;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
}
.icon-delete:hover{
    color: tomato;
    font-weight: 700;
}
/*========== Button ==========*/
.botton-container{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}
.todo-button{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: #FFD465;
    cursor: pointer;
    transition: .3s ease;
}
.todo-button:hover{
    background-color: #f2c043;
    transform: rotate(224deg);
}
.check-active{
    color: green;
    font-weight: 700;
}
/* .check-active:checked + .parrafo{
    text-decoration: line-through
}
ul li input[type="checkbox"]{
    width: 20px;
} */

/*========== Loaging ==========*/

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f2c043;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
}

.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #FFD465;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
    15% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow324 {

    0%,
        100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}